<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div class="container">
    <h3>All products</h3>
    <table id="products" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Image</th>
        </tr>
        <tr th:each="p : ${products}">
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.manufacturer}"></td>
            <td><a th:href="@{/products/{id}/edit(id=${p.getId()})}">Edit</a></td>
            <td><a th:href="@{/products/{id}/delete(id=${p.getId()})}">Delete</a></td>
            <td><img width="100" height="100" th:src="@{'/image/' + ${p.image}}" ></td>
        </tr>
    </table>
    <p>
        <a th:href="@{/products/create}">
            Add new product
        </a>
    </p>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
